.p{
    text-align: center;
    font-size: 50px;
    border: solid 2px;
    border-color: white;
    background-color: ghostwhite;
    
    }
  
  .img{
        width: 100%;
        position: relative;
  }
  
  .Ks{
        color: red;
        font-size: 40px;
      
  }
  body{
    background-color: #29465B;
  }
  .h3{
    text-align: center;
    text-shadow: white;
  }


  







    


